[submodule "soccer-vision"]
	path = soccer-vision
	url = https://github.com/utra-robosoccer/soccer-vision
[submodule "soccer-utility"]
	path = soccer-utility
	url = https://github.com/utra-robosoccer/soccer_utility
[submodule "soccer-control"]
	path = soccer-control
	url = https://github.com/utra-robosoccer/soccer-control
[submodule "soccer-rl"]
	path = soccer-rl
	url = https://github.com/utra-robosoccer/soccer-rl
[submodule "soccer_description"]
	path = soccer_description
	url = https://github.com/utra-robosoccer/soccer_description